<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HC's Recipe Hut</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Honeycomb's Recipe Hut</h1>
    <div class="container">
    @RenderBody()
    </div>
  </body>
</html>