body {
  background-color: rgb(243, 155, 112);
}

.well
{
  background-color: #dfddc7;
  border: 5px solid #211717;
  text-align: center;
}

h1, h2, h3, h4
{
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #2f416d;
}

a {
  color: #a34a28;
}

p {
  text-align: center;
  font-family: 'Righteous', cursive;
}

h5 {
  font-family: 'Righteous', cursive;
  color: #2f416d;
}

li {
font-family: 'Righteous', cursive;
color: #294117;
}
