body {
  background-color: rgb(243, 155, 112);
}

.well
{
  background-color: #dfddc7;
  border: 5px solid #211717;
  text-align: center;
}

h1, h2, h3, h4
{
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #2f416d;
}

a {
  color: #a34a28;
}

p {
  text-align: center;
  font-family: 'Righteous', cursive;
}

h5 {
  font-family: 'Righteous', cursive;
  color: #2f416d;
}

li {
font-family: 'Righteous', cursive;
color: #294117;
text-align: center;
list-style: none;
}

img {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cuisine-wrap
{
  text-align: center;
  color: #5f6b1b;
  font-size: 20px;
}

.home-button a
{
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #2f416d;
  text-decoration: none;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}