@{
  Layout = "_Layout";
}
<marquee scrollamount="8" behavior="alternate">
 <img src="http://clipartmag.com/images/koala-clipart-free-31.png" alt="picture of honeycomb">
</marquee>

<p>@Html.ActionLink("Search Recipes by Type", "Index", "Cuisines")</p>
