@{
  Layout = "_Layout";
}


<p>@Html.ActionLink("Search Recipes by Type", "Index", "Cuisines")</p>
<p>@Html.ActionLink("See All Recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("Add a Cuisine Type", "Create", "Cuisines")</p>
<p>@Html.ActionLink("Create An Account", "Index", "Account")</p>
