@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<Recipe>;

<h1>Search Results</h1>

@foreach (Recipe result in @Model)
{
    <div class="well">
        <h4>@Html.ActionLink($"{result.Name}", "Details", "Recipes", new { id = result.RecipeId })</h4>
        <h5>Total Time: @result.TotalTime</h5>
    </div>
}

<p>@Html.ActionLink("Back", "Index", new {}, new {@class = "html-links"})</p>