@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Cuisine

<h3>Add a new cuisine type</h3>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    <input type="submit" value="Add new cuisine" class="btn btn-info" />
}
<p>@Html.ActionLink("Show all cuisines", "Index", new {}, new {@class = "html-links"}) </p>